<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2 th:text="#{page.item}">상품 상세</h2>
    </div>

    <p th:if="${param.saved}" th:text="#{page.item.saved}">저장 완료</p>

    <div>
        <label th:for="itemId" th:text="#{label.item.id}">상품 ID</label>
        <input type="text" th:field="${item.id}" class="form-control" readonly>
    </div>
    <div>
        <label th:for="itemName" th:text="#{label.item.itemName}">상품명</label>
        <input type="text" class="form-control" th:field="${item.itemName}" readonly>
    </div>
    <div>
        <label th:for="price" th:text="#{label.item.price}">가격</label>
        <input type="text" class="form-control" th:field="${item.price}" readonly>
    </div>
    <div>
        <label th:for="quantity" th:text="#{label.item.quantity}">수량</label>
        <input type="text" class="form-control" th:field="${item.quantity}" readonly>
    </div>

    <hr class="my-4">

    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    th:onclick="|location.href='@{/message/items/{id}/edit (id=${item.id})}'|"
                    type="button" th:text="#{page.updateItem}">
                상품 수정
            </button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg" th:onclick="|location.href='@{/message/items}'|"
                    type="button" th:text="#{page.items}">
                목록으로
            </button>
        </div>
    </div>
</div> <!-- /container -->
</body>
</html>