<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<body>

<div class="container-sm">

    <div th:replace="fragments/bodyHeader :: bodyHeader"></div>

    <div class="p-5 mb-4 bg-light rounded-3 border">
        <table class="table table-striped">

            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Price</th>
                <th>Stocks</th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="item : ${items}">
                <td th:text="${item.id}"></td>
                <td th:text="${item.name}"></td>
                <td th:text="${item.price}"></td>
                <td th:text="${item.stockQuantity}"></td>
                <td>
                    <a href="#" th:href="@{/items/{id}/edit (id=${item.id})}" class="btn btn-primary"
                       role="button">Edit</a>
                </td>
            </tr>
            </tbody>

        </table>
    </div>

    <div th:replace="fragments/footer :: footer"></div>

</div>

</body>
</html>